@use '../../ma-variables.scss' as ma;

#footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 40px;

  .footer-background {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
  }

  .ma-logo {
    width: 30%;
    margin-bottom: 70px;
  }

  .footer-info {
    padding: 2%;
    height: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .links,
    .contact-info {
      display: flex;
      flex-direction: column;

      a,
      p {
        &:hover {
          cursor: pointer;
          @include ma.bg-darkblue;
        }
      }

      a {
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 16px;
      }
    }

    .links {
      align-items: start;
      justify-content: space-between;
    }

    .contact-info {
      align-items: end;
      justify-content: space-between;

      .contact {
        text-align: end;
      }
    }

    .copyright {
      align-content: end;
      p {
        text-align: center;
        opacity: 0.8;
      }
    }
  }

  @include ma.mobile {
    margin: 0;

    .ma-logo {
      width: 60%;
    }

    .footer-info {
      height: auto;
      grid-template-columns: 1fr;
      gap: 12px;

      .links,
      .copyright,
      .contact-info {
        align-items: center;
        text-align: center;
        margin: 20px 0;

        .contact {
          text-align: center;
        }
      }

      .links {
        grid-area: 1 / 1 / 2 / 2;
        a {
          margin: 10px;
        }
      }

      .contact-info {
        grid-area: 2 / 1 / 3 / 2;
        p {
          margin: 4px;
        }
      }
      .copyright {
        grid-area: 3 / 1 / 4 / 2;
      }
    }

    .footer-background {
      width: 100%;
    }
  }
}
