<section id="pop">
  <h2>Política de privacidad de Monitor Austral</h2>
  <h3>Introducción</h3>
  <p>
    La presente Política de Privacidad establece los términos en que Monitor
    Austral usa y protege la información proporcionada por sus usuarios al
    utilizar nuestro sitio web. Monitor Austral se compromete a garantizar la
    seguridad de los datos de nuestros usuarios y a proteger su privacidad. Le
    recomendamos que revise esta política periódicamente para estar al tanto de
    cualquier cambio.
  </p>

  <h3>Información que Recogemos</h3>
  <p>Nuestro sitio web puede recopilar la siguiente información personal:</p>
  <ul>
    <li>
      <strong>Nombre:</strong> Para identificar al usuario y personalizar la
      experiencia.
    </li>
    <li>
      <strong>Correo Electrónico:</strong> Para comunicación y envío de
      información relevante.
    </li>
    <li>
      <strong>Organización:</strong> Para verificar la afiliación del usuario y
      proporcionar servicios específicos para su entidad.
    </li>
    <li>
      <strong>Cargo:</strong> Para comprender el rol del usuario dentro de la
      organización y adaptar los servicios según sus necesidades.
    </li>
  </ul>
  <p>
    Adicionalmente, podríamos solicitar información específica para procesar
    pedidos o realizar entregas, si aplica.
  </p>

  <h3>Acceso y Uso de Datos de Usuario de Google</h3>
  <p>
    Monitor Austral accede y utiliza datos de usuarios de Google solo en la
    medida necesaria para ofrecer nuestros servicios. A continuación, se
    describen nuestras prácticas en relación con los datos de usuario de Google:
  </p>
  <ul>
    <li>
      <strong>Acceso a Datos:</strong> Accedemos a datos como información básica
      del perfil, correo electrónico y otros datos necesarios para la
      integración con servicios de Google. Esto se realiza bajo las
      autorizaciones otorgadas por el usuario.
    </li>
    <li>
      <strong>Uso de Datos:</strong> Los datos accesibles a través de Google se
      utilizan exclusivamente para proporcionar y mejorar nuestros servicios, y
      no para otros fines sin el consentimiento expreso del usuario.
    </li>
    <li>
      <strong>Almacenamiento de Datos:</strong> Los datos de usuario de Google
      se almacenan de manera segura y solo mientras sea necesario para cumplir
      con los propósitos descritos en esta Política de Privacidad. Implementamos
      medidas de seguridad para proteger estos datos contra accesos no
      autorizados.
    </li>
    <li>
      <strong>Compartición de Datos:</strong> No compartimos los datos de
      usuario de Google con terceros, salvo cuando sea requerido por la ley o
      para cumplir con nuestras obligaciones contractuales.
    </li>
  </ul>
  <p>
    Para más detalles sobre cómo manejamos los datos de los usuarios de Google,
    consulte la sección correspondiente en nuestros Términos de Servicio y en
    esta Política de Privacidad.
  </p>

  <h3>Uso de la Información Recogida</h3>
  <ul>
    <li>
      <strong>Proveer y mejorar nuestros servicios:</strong> Para garantizar que
      nuestro sitio web funcione de manera óptima y para realizar mejoras
      continuas en nuestros productos y servicios.
    </li>
    <li>
      <strong>Mantener un registro de usuarios:</strong> Para gestionar y
      facilitar el seguimiento de licitaciones y órdenes de compra.
    </li>
    <li>
      <strong>Enviar comunicaciones:</strong> Enviamos correos electrónicos
      periódicos con ofertas especiales, nuevos productos y otra información que
      consideramos relevante. Usted puede optar por no recibir estos correos
      electrónicos en cualquier momento.
    </li>
  </ul>
  <p>
    No vendemos, cedemos ni distribuimos la información personal a terceros sin
    su consentimiento, salvo cuando sea requerido por un juez con una orden
    judicial.
  </p>

  <h3>Cookies</h3>
  <p>
    Una cookie es un archivo que se solicita permiso para almacenarse en su
    dispositivo. Al aceptar, la cookie se crea y ayuda a identificar las páginas
    visitadas y su frecuencia. Las cookies mejoran la funcionalidad del sitio
    web y facilitan una experiencia personalizada.
  </p>
  <ul>
    <li>
      <strong>Analizar el tráfico web:</strong> Identificar las páginas
      visitadas y la frecuencia de las visitas para fines estadísticos.
    </li>
    <li>
      <strong>Mejorar el servicio:</strong> Ofrecer un mejor servicio y
      facilitar futuras visitas.
    </li>
  </ul>
  <p>
    Puede aceptar o rechazar el uso de cookies. Sin embargo, al rechazar
    cookies, algunas funcionalidades del sitio web pueden no estar disponibles.
    Para gestionar las cookies, puede ajustar la configuración de su navegador.
  </p>

  <h3>Enlaces a Sitios de Terceros</h3>
  <p>
    Nuestro sitio web puede contener enlaces a otros sitios web de interés.
    Estos enlaces se proporcionan para su conveniencia y no implican que Monitor
    Austral respalde o se haga responsable del contenido de dichos sitios. Usted
    accede a estos sitios bajo su propio riesgo. Le recomendamos revisar las
    políticas de privacidad de esos sitios.
  </p>

  <h3>Control de su Información Personal</h3>
  <ul>
    <li>
      <strong
        >Restringir la recopilación o uso de su información personal:</strong
      >
      Al completar formularios, puede optar por no recibir comunicaciones por
      correo electrónico.
    </li>
    <li>
      <strong>Solicitar la eliminación de sus datos:</strong> Si desea eliminar
      su información personal, puede hacerlo contactándonos a través de nuestro
      sitio web.
    </li>
  </ul>

  <h3>Medidas de Seguridad</h3>
  <p>
    Monitor Austral se compromete a proteger la información personal de nuestros
    usuarios. Implementamos los protocolos de seguridad estándares de la
    industria, incluyendo cifrado de datos y autenticación, para proteger la
    información contra accesos no autorizados.
  </p>

  <h3>Actualización de la Política de Privacidad</h3>
  <p>
    Monitor Austral se reserva el derecho de cambiar los términos de esta
    Política de Privacidad en cualquier momento. Las modificaciones entrarán en
    vigor en el momento en que se publiquen en nuestro sitio web. Su uso
    continuado del sitio web después de la publicación de cambios constituye su
    aceptación de los nuevos términos.
  </p>
  <p>
    Para cualquier consulta adicional sobre nuestra política de privacidad, por
    favor contáctenos a través de los canales disponibles en nuestro sitio web.
  </p>
</section>
