@use '../../ma-variables.scss' as ma;

section#pop {
  margin-bottom: 10px;
  max-width: 80%;

  h2 {
    font-size: 44px;
    margin: 15px;
  }

  h3 {
    margin: 10px;
    font-weight: 400;
    font-size: 22px;
  }

  p,
  ul,
  li {
    margin: 5px;
  }
}

@include ma.mobile {
  section#pop {
    margin-top: 60px;
    margin-bottom: 40px;
    max-width: 90%;

    h2 {
      font-size: 32px;
    }
  }
}
