<section id="ma-screenshots">
  <img
    class="ssbg"
    src="../../../assets/imgs/screenshots/screenshots-bg.webp"
    alt="background lines"
  />
  <h2>{{ ss_title }}</h2>
  <div class="ss1">
    <img
      src="../../../assets/imgs/screenshots/proyectos-showoff-1.webp"
      alt="Ejemplo App"
    />
    <h5>{{ ss_1 }}</h5>
  </div>
  <div class="ss2">
    <h5>{{ ss_2 }}</h5>
    <img
      src="../../../assets/imgs/screenshots/tableros-showoff-2.webp"
      alt="Ejemplo App"
    />
  </div>
</section>
